<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blogssm.mapper.ArticleMapper">
    <select id="getArtCountByUid" resultType="Integer">
        select count(*)from articleinfo where uid=#{uid}
    </select>
    <select id="getlist" resultType="com.example.blogssm.entity.ArticleInfo">
        select * from articleinfo
    </select>
    <select id="getMylist" resultType="com.example.blogssm.entity.ArticleInfo">
select * from articleinfo where uid=#{uid}

    </select>
    <delete id="del">
        delete from articleinfo where id= #{id} and uid=#{uid}
    </delete>
    <select id="getArtIdsByUid" resultType="java.lang.Integer">
        select id from articleinfo where uid =#{uid}
    </select>
    <select id="getDetail" resultType="com.example.blogssm.entity.ArticleInfo">
        select * from  articleinfo where id=#{id}
    </select>
    <update id="incrrcount">
        update articleinfo set rcount=rcount+1 where id=#{id}
    </update>
    <update id="increaseComment" parameterType="int">
        UPDATE articleinfo SET comment = comment + 1 WHERE id = #{id}
    </update>

    <!-- 减少评论 -->
    <update id="decreaseComment" parameterType="int">
        UPDATE articleinfo SET comment = comment - 1 WHERE id = #{id}
    </update>
    <insert id="add" parameterType="com.example.blogssm.entity.ArticleInfo" useGeneratedKeys="true" keyProperty="id">
        insert into articleinfo(title,content,avatar,uid,description,type) values (#{title},#{content},#{avatar},#{uid},#{description},#{type})
    </insert>
    <update id="update">
        update articleinfo set title=#{articleinfo.title},content=#{articleinfo.content},avatar=#{articleinfo.avatar},description=#{articleinfo.description},type=#{articleinfo.type},updatetime=NOW()
        where id=#{aid} and uid=#{articleinfo.uid}
    </update>
    <select id="getListByPage" resultType="com.example.blogssm.entity.ArticleInfo">
        select * from articleinfo limit #{psize} offset #{offsize}
    </select>
    <update id="updateArticleStar">
        UPDATE articleinfo SET star = star + 1 WHERE id = #{articleId} and uid=#{userId}
    </update>
    <select id="getAllArticleTypes" resultType="java.lang.String">
        select type from articleinfo where state=1
    </select>
    <!--取消点赞-->
    <update id="downArticleStar">
        UPDATE articleinfo SET star = star - 1 WHERE id = #{articleId} and uid=#{userId}
    </update>
    <!--删除点赞记录-->
    <delete id="delLike">
        DELETE FROM likes WHERE user_id = #{userId} AND article_id = #{articleId}
    </delete>
    <!-- 插入点赞记录 -->
    <insert id="insertLike">
        INSERT INTO likes (user_id, article_id, like_time) VALUES (#{userId}, #{articleId}, NOW())
    </insert>

    <update id="updateArticleFavorite">
        UPDATE articleinfo SET favorite = favorite + 1 WHERE id = #{articleId} and uid=#{id}
    </update>

    <insert id="insertFavorite">
        INSERT INTO favorites (user_id, article_id, favorite_time) VALUES (#{id}, #{articleId}, NOW())
    </insert>
    <select id="getlikeList"  resultType="java.lang.Integer">
        select article_id from likes where user_id=#{id}
    </select>
    <select id="getfavoriteList"  resultType="java.lang.Integer">
        select article_id from favorites where user_id=#{id}
    </select>
    <update id="cancelArticleFavorite">
        UPDATE articleinfo SET favorite = favorite - 1 WHERE id = #{articleId} and uid=#{id}
    </update>

    <delete id="removeFavorite">
        DELETE FROM favorites WHERE user_id = #{id} AND article_id = #{articleId}
    </delete>

</mapper>